<h1>List</h1>
<table>
    <thead>
        <tr>
            <th>EnterBy</th>
            <th>Houer</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each hours}}
        <tr>
            <td>{{ this.enteredBy}}</td>
            <td>{{ this.hours}}</td>
            <td>Approve</td>
            <td>Reject</td>
        </tr>
        {{/each}}
    </tbody>
</table>
